career{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    background-color: cadetblue;
    width: 85%;
    padding: 1vw;
    border-radius: 6px;
    margin-bottom: 1vw;
    margin-top: 1vw;
    background: #2a9b92;
    background: var(--menu_background);
    background-size: 200% 200%;
    animation: GradientAnimation 20s ease infinite;
    box-shadow: var(--light_box_shadow);

    border-color: rgba(255, 245, 227, 0.42);
    border-style: solid;
    border-width: 3px;
    
    
    info {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        p{  
            text-align: center;
            font-size: 1.5vw;
            font-family: "8bit";
            background: var(--white_text);
            background-size: 600% 600%;
            animation: GradientAnimation 8s ease infinite;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            align-content: center;
            margin: 5px;
            overflow: hidden;

            span:nth-child(2){
                font-size: 2vw;
                margin: 0;
            }
        };
        p:last-child{
            padding: 1.2vw;
            background: #2a9b92;
            background: var(--menu_background);
            background-size: 200% 200%;
            animation: GradientAnimation 20s ease infinite;
            box-shadow: var(--light_box_shadow);

            border-color: rgba(255, 245, 227, 0.42);
            border-style: solid;
            border-width: 3px;
            border-radius: 20vw;
            span{
                font-family: Hoves;
                background: var(--white_text);
                background-size: 600% 600%;
                animation: GradientAnimation 8s ease infinite;
                background-clip: text;
                -webkit-text-fill-color: transparent;

                align-content: center;
                margin: 5px;
                overflow: hidden;
            }
        };
    };
    content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        career_content{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 1vw;
            text{
                p {

                    text-align: center;
                    font-family: Hoves;
                    font-size: 2vw;
                    span{
                        font-family: Hoves;
                        background: var(--white_text);
                        background-size: 600% 600%;
                        animation: GradientAnimation 8s ease infinite;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;

                        align-content: center;
                        margin: 5px;
                        overflow: hidden;
                    };
                };
                p:first-child {
                    font-size: 2.5vw;
                    padding: 1.2vw;
                    background: #2a9b92;
                    background: var(--menu_background);
                    background-size: 200% 200%;
                    animation: GradientAnimation 20s ease infinite;
                    box-shadow: var(--light_box_shadow);

                    border-color: rgba(255, 245, 227, 0.42);
                    border-style: solid;
                    border-width: 3px;
                    border-radius: 20vw;
                };
            };
            img{
                padding: 2vw;
                width: 30vw;  
            };
            column{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 1.2vw;
                
                embed{
                    width: 50vw;
                    height: 91vh;
                }
            }
            
        };
    };
}