@font-face {
    font-family: 'Qaz';
    src: url('./assets/fonts/qaz.ttf');
}
@font-face {
    font-family: 'Iconic-Bold';
    src: url('./assets/fonts/iconic-b.ttf');
}
@font-face {
    font-family: 'Iconic';
    src: url('./assets/fonts/iconic.ttf');
}
@font-face {
    font-family: 'Hoves';
    src: url('./assets/fonts/tt-hoves.ttf');
}
@font-face {
    font-family: '8bit';
    src: url('./assets/fonts/8bitOperatorPlus-Bold.ttf');
}


:root{
    --white_text: linear-gradient(270deg, #fff5e3 0%, #fdecff 50%, #f0fffb 100%);
    --background: linear-gradient(271deg, #95d8ff, #d390ff, #FF96DF);
    --menu_background: linear-gradient(145deg,rgb(137, 252, 242) 0%, rgb(238, 123, 232) 50%, rgb(233, 141, 174) 100%);
    --nav_background: linear-gradient(271deg, #95d8ffa0, #d390ffa0, #FF96DFa0);
    --light_box_shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


html {
    height: 100%;
}

body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;

    background: #a6a6ff;
    background: var(--background);
    background-size: 600% 600%;
    animation: GradientAnimation 20s ease infinite;

}

body > main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 6vw;
}

.buttons{
    cursor: pointer;
    user-select: none;  
}

@keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}