home_page{
    display: flex;
    justify-content: center;
    > home{
        display: flex;
        flex-direction: column;
        align-items: center;


        width: 100%;
        padding-bottom: 5vw;
        
        > p{
            font-family: "Hoves";
            font-size: 15vw;
            margin: 5px;
            margin-top: 12vw;
            background: linear-gradient(270deg, #fff5e3, #fdecff, #f0fffb   );
            background-clip: text;
            -webkit-text-fill-color: transparent;
        };
        > img{
            margin-top: 5vw;
            width: 25vw;
        };
        > button:hover{
            transform: translateY(5px);
        };
        > button {
            width: 20vw;
            min-height: 4vw;
            max-height: 8vw;


            padding: 5px;
            margin-top: 3vh;


            buttonText{
                font-size: 2vw;
                font-family: "8bit";
                background: linear-gradient(270deg, #fff5e3, #fdecff, #f0fffb);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            
            background: #2a9b92;
            background: linear-gradient(145deg,rgb(137, 252, 242) 0%, rgb(238, 123, 232) 50%, rgb(233, 141, 174) 100%);
            background-size: 200% 200%;
            animation: GradientAnimation 20s ease infinite;

            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

            border-color: rgba(255, 245, 227, 0.42);
            border-style: solid;
            border-width: 3px;
            border-radius: 20px;

        };
        > content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 75vh;
            anchor{
                padding-top: 15vh;
            };
             button:hover{
                transform: translateY(5px);
            };
             button{
                width: 70vw;
                max-height: 6vw;

                buttonText{
                    text-align: center;
                    font-size: 2vw;
                    font-family: "8bit";
                    background: linear-gradient(270deg, #fff5e3, #fdecff, #f0fffb);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                
                background: #2a9b92;
                background: linear-gradient(145deg,rgb(137, 252, 242) 0%, rgb(238, 123, 232) 50%, rgb(233, 141, 174) 100%);
                background-size: 200% 200%;
                animation: GradientAnimation 20s ease infinite;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                
                margin: 5px;
                
                border-color: rgba(255, 245, 227, 0.42);
                border-style: solid;
                border-width: 3px;
                border-radius: 20px;
            };
            > about_me{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                
                width: 90vw;
                > text{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 80vw;

                    padding:5vw;
                    text-align: center;
                    h1{
                        font-size: 8vw;  
                        font-family: "8bit";
                        margin: 0;
                        background: linear-gradient(270deg, #fff5e3, #fdecff, #f0fffb);
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    };
                    p{
                        align-items: center;
                        font-family: Hoves;
                        font-size: 4vw;
                        margin: 0;
                        background: linear-gradient(270deg, #fff5e3, #fdecff, #f0fffb);
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        button{
                            width: fit-content;
                            padding-left: 1vw;
                            padding-right: 1vw;
                            margin:0;
                            transform: translateY(-0.15vw);

                            buttonText{
                                font-size:2.5vw;
                            }
                        };
                        button:hover{
                            transform: translateY(0vw);
                        };

                    };
                    > button:hover{
                        transform: translateY(5px);
                    };
                    >   button{
                        width: fit-content;
                        padding-left: 2vw;
                        padding-right: 2vw;
                        max-height: 14vw;
                        min-height: 8vw;
                        margin-top: 3vh;
                        buttonText{
                            font-size:4vw;
                        }
                    };
                };
                > img{
                    width: 30vw;
                }
                padding-bottom: 15vh;
            }
            > home_feed {
                margin-top: 1vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                max-height: 80vh;
                
                overflow: scroll;
            };
            
        }
    };
}

.pages{
    display: block;
    background-color: cadetblue;
    width: 95%;
    padding: 20px;
    padding-top: 5px;
    border-radius: 6px;
    margin-bottom: 1vw;
    margin-top: 1vw;
    background: #2a9b92;
    background: linear-gradient(145deg,rgb(137, 252, 242) 0%, rgb(238, 123, 232) 50%, rgb(233, 141, 174) 100%);
    background-size: 200% 200%;
    animation: GradientAnimation 20s ease infinite;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    border-color: rgba(255, 245, 227, 0.42);
    border-style: solid;
    border-width: 3px;
}

.pages > :first-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pages > :first-child > h1{
    font-size: 2vw;
    font-family: "8bit";
    color: #f0f8ff;
    
    text-align: center;
    align-content: center;
    background: #2a9b92;
    background: linear-gradient(145deg,rgb(137, 252, 242) 0%, rgb(238, 123, 232) 50%, rgb(233, 141, 174) 100%);
    background-size: 200% 200%;
    animation: GradientAnimation 20s ease infinite;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    width: 90%;
    
    border-color: rgba(255, 245, 227, 0.42);
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    margin: 5px;

    margin: 2%;
    span{
        background: linear-gradient(270deg, #fff5e3, #fdecff, #f0fffb);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        align-content: center;
    }

}
