project{
    titles{
        
    },
    content{
        text{
            main {
                p{
    
                },
            },
            requirement {
                p{
    
                },
            },
            detail {
                p{
    
                },
            },
        },

        img {

        },
    },
}
