nav{
    position: fixed;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    background-color: black;
    
    width: 100%;
    min-height: 6vw;
    
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
    nav_icon{
        display: flex;
        justify-content: center;
        background-color: red;
        
        width: 15%;
        min-height: 3.7vw;
        
        border-radius: 7px;
        
        p{
            align-content: center;
            
            margin: 5px;
            font-size: 2vw;
            font-family: "Qaz";
            
            overflow: hidden;
        },
    },
}