nav{
    position: fixed;
    z-index: 1;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background: var(--nav_background);
    animation: GradientAnimation 20s ease infinite;
        
    width: 100%;
    min-height: 6vw;
    
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: rgba(112, 83, 255, 0.42);
    > :hover{
        transform: translateY(5px);
    };
    > nav_icon{
        display: flex;
        justify-content: center;
        
        width: 15%;
        min-height: 3.7vw;
        
        border-radius: 7px;
        
        p{
            font-size: 2vw;
            font-family: "8bit";
            background: var(--white_text);
            background-size: 600% 600%;
            animation: GradientAnimation 8s ease infinite;
            background-clip: text;
            -webkit-text-fill-color: transparent;

            align-content: center;
            margin: 5px;
            overflow: hidden;
        }

        background: var(--menu_background);
        background-size: 200% 200%;
        animation: GradientAnimation 20s ease infinite;

        box-shadow: var(--light_box_shadow);

        border-color: rgba(255, 245, 227, 0.42);
        border-style: solid;
        border-width: 3px;
        border-radius: 20px;

    },
}