links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 80%;
    margin-top: 8vw;
    social{
        a{
            img{
                width: 20vw;
            },
        },
    };
    social:nth-child(2){
        margin-bottom: 10vw;
    }
}