feed{
    display: flex;
    flex-direction: column;
    align-items: center;
}
post{
    display: block;
    background-color: cadetblue;
    width: 85%;
    padding: 20px;
    padding-top: 5px;
    border-radius: 6px;
    margin-bottom: 1vw;
    margin-top: 1vw;
    background: #2a9b92;
    background: var(--menu_background);
    background-size: 200% 200%;
    animation: GradientAnimation 60s ease infinite;
    box-shadow: var(--light_box_shadow);

    border-color: rgba(255, 245, 227, 0.42);
    border-style: solid;
    border-width: 3px;
    titles{
        font-family: "Hoves";
        font-size: 1vw;
        
    };
    content{
        display: flex;
        flex-direction: column;
        detail{
            
            font-size: 1vw;
            author{

                margin-right: 0.6vw;
            }
        }
        h1{
            margin:0;
            margin-bottom: 0.8vw;
            font-size: 2.5vw;
        }
        a{
            text-decoration: none;
            font-size: 1.5vw;
            
        }
        p{
            font-size: 1.5vw;
            font-family: Hoves;
        };
        embed {
            width: 80%;
        };
        origin{
            font-size: 1vw;
        }
    },
}